body {
    font-family: Arial, sans-serif;
    background: #007BFF url('https://imgs.search.brave.com/i64RNf_R1kxky7SHxoaLUTQSe9_FxMhG2_GHaG2U8RU/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy9h/L2EyL0RSRE9fU2Vh/bC5wbmc') no-repeat center center fixed;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.register-link {
    font-size: 14px;
    color: #007BFF;
    cursor: pointer;
}

.register-link:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}
